%h1 Listing beers

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Brand
      %th Cl
      %th
      %th
      %th

  %tbody
    - @beers.each do |beer|
      %tr
        %td= beer.name
        %td= beer.description
        %td= beer.brand
        %td= beer.cl
        %td= link_to I18n.t('actions.show'), beer
        %td= link_to I18n.t('actions.edit'), edit_beer_path(beer)
        %td= link_to I18n.t('actions.destroy'), beer, method: :delete, data: { confirm: I18n.t('beer.are_you_sure') }

%br

= link_to I18n.t('beer.new'), new_beer_path
